h2 {
    text-align: left;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
}

body {
	margin: 0;
}

h3 {
    text-align: right;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.add {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.main {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

form {
    padding-top: 5%;
    border: black;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 20%;
}

.button{
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.card {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}